


table{
	font-size: 70%;
	border-collapse: collapse;
	width: 100%
}
th,td{
	border:1px solid #000000;
	padding: 8px;
	text-align:left;
}
th{
	background-color: black;
	color:#fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);

}
td{
	
}